main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
}

@media (width <= 1200px) {

  .container {
    padding: 1.5rem;
  }

  main {
    display: flex;
    flex-wrap: wrap;
  }

  main img {
    width: 328px;
    height: 328px;
    object-fit: cover;
  }
}

